## DEPENDENCIES ######################################################
node_modules

## LOGS ##############################################################
*.log

## GENERATED #########################################################
.cache
.nuxt
src/.temp
coverage
dist
sw.*

## SECRETS ###########################################################
.env
.env.*
